.tree{
    font-size: 120px;
}

.sun{
    font-size: 70px;
}

.house-tree{
    font-size: 60px;
}

.cat{
    font-size: 25px;
}

.house{
    font-size: 55px;
}

.flower-one{
    font-size: 35px;
}

.clover{
    font-size: 40px;
}

.flower-two{
    font-size: 30px;
}

.dinosaur{
    font-size: 100px;
}

.monkey{
    font-size: 50px;
}